header{
    background: grey;
    padding: 20px 0;
}

.caixa{
    position: relative;
    margin: 0 auto;
    width: 900px;
}

nav{
    position: absolute;
    top: 110px;
    right: 0px;
}


nav li{
    display: inline;
    margin: 0 0 0 15px;
}

nav a {
    text-transform: uppercase;
    color: grey
    font-weight:bold; 
    font-size:22px;
    text-decoration:none;
}

.produtos{
    width: 940px;
    margin: 0 auto;
}

.produtos li{
    display: inline-block;
    text-align: center;
}